<a href="https://colab.research.google.com/github/akankshasharma07/new.repository/blob/main/FSDS_Assignment_Class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#### Q1. Find the largest number from the given list, use for loop.
numbers = [12, 75, 150, 180, 145, 525, 50]

In [5]:
numbers = [12, 75, 150, 180, 145, 525, 50]
largest = 0
for i in numbers:
  if largest < i:
    largest = i
print(f"largest number in given list is: {largest}")

largest number in given list is: 525

#### Q2. Print all the even number between (1, 12).

In [12]:
for i in range(1,13):
  if (i%2==0):
    print (i)

2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given number

Expected Output:

Enter number 10

Sum is:  55

In [17]:
num = int(input("enter the sum of all numbers: "))
sum =0
for i in range(1, num+1):
  sum = sum +i
print(f"sum is : {sum}")

enter the sum of all numbers: 10
sum is : 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

    The number must be divisible by five

    If the number is greater than 150, then skip it and move to the next number

    If the number is greater than 500, then stop the loop
    
    #given
    numbers = [12, 75, 150, 180, 145, 525, 50]

In [55]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:

  if i%5==0:
      if i>500:
        break
      if i> 150:
        continue
      print(i)

75
150
145

Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [62]:
list1 = [10, 20, 30, 40,50]
for i in reversed(list1):
  print(i, end =" ")

50 40 30 20 10